version: '3'
services:
  portainer:
    image: portainer/portainer
    container_name: portainer
    ports:
    - '9000:9000'
    volumes:
    - data:/data
    - /var/run/docker.sock:/var/run/docker.sock
volumes:
  data:
networks:
  default:
    external:
      name: docker-network
